<ion-view title="Categories">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item href="#/app/product">Shop All Categories</ion-item>  
      <ion-item href="#/app/fashion">Fashion</ion-item>
       <ion-item href="#/app/kitchen">Home, Kitchen & Tools</ion-item>
        <ion-item href="#/app/mobiles">Mobiles & Tablets</ion-item>
        <ion-item href="#/app/laptops">Laptops & Electronics</ion-item>
        <ion-item href="#/app/babies">Babies & Toys</ion-item>
        
    </ion-list>
  </ion-content>
</ion-view>