<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Submit Review on Product</h1>
    <div class="buttons">
      <button style="color:black" class="button button-clear" ng-click="closeReviewForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="reviewForm" name="reviewForm" ng-submit="submitReview()">
      <div class="list">

          <span class="input-label">Rating</span>

                <rating ng-model="rating.rate" max="rating.max"></rating>



        <label class="item item-input">
          <span class="input-label">Your Review</span>
          <textarea type="text" ng-model="myreview.review"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
