<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="global.search">
  </label>
</div>
      <ion-list>
<ion-item ng-repeat="product in products | filter: global.search"
href="#/app/product/{{product.id}}" class="item-thumbnail-left">
<img ng-src="{{baseURL+product.images[0]}}">
<h2>{{product.name}}
<span style="font-size:75%">{{product.price | currency}}</span>
<span class="badge badge-assertive">{{product.label}}</span></h2>
<p>{{product.description}}</p>
<ion-option-button class="button-assertive icon ion-plus-circled"
   ng-click="addFavorite(product.id)">
</ion-option-button>  
</ion-item>
</ion-list>
  </ion-content>
</ion-view>
